main{
    margin-top: -400px;
}
main > .banner > picture > img{
    z-index: 0;
    position: relative;
    width: 694px;
    height: 428px;
}
main > .banner > a > .bgTexto{
    width: 340px;
    height: 80px;
    /* background-color: #a16900; */
    background-color: #006379;
    border-radius: 100px 5px 100px 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: -10px 0 0 50px;
    z-index: 1;
    position: relative;
    transition: 0.5s;
}
main .banner > a > .bgTexto:hover{
    transform: scale(1.04);
}
main > .banner > a > .bgTexto > h2{
    color: #ffffff;
    font-family: Montserrat;
    font-size: 30px;
    font-weight: 500;
}
main > .containerMVV{
    margin-top: 140px;
}
main > .containerMVV > picture > img{
    margin: 0 0 -60px -20px;
    position: relative;
    width: 61px;
    height: 86px;
}
main > .containerMVV > .bgMVV{
    width: 1280px;
    height: 525px;
    border-radius: 20px;
    background-color: #4C4A59;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
main > .containerMVV > .bgMVV > .card{
    width: 362px;
    height: 473px;
    border-radius: 15px;
    background-color: #D9D9D9;
    display: flex;
    flex-direction: column;
    align-items: center;
}
main .containerMVV > .bgMVV > .card > picture > img{
    margin: 15px 0 20px 0;
    width: 40px;
    height: 40px;
}
main > .containerMVV > .bgMVV > .card > h2{
    color: #4C4A59;
    font-family: Montserrat;
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 45px;
}
main > .containerMVV > .bgMVV > .card > h3{
    color: #4C4A59;
    text-align: center;
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 600;
    width: 280px;
}
main > picture > img{
    margin-top: -18px;
    position: relative;
    width: 100px;
    height: 141px;
}
/* Animações dos botões:*/
main > img:hover,
main > img:active,
main > .containerMVV > img:hover,
main > .containerMVV > img:active,
main > .escolaridades > .containerCard > img:hover,
main > .escolaridades > .containerCard > img:active,
main > .containerExplicacao > #skate-brinquedo:hover , main > .containerExplicacao > .containerBolaFutebol-brinquedo > img:hover,
main > .containerExplicacao > #skate-brinquedo:active, main > .containerExplicacao > .containerBolaFutebol-brinquedo > img:active{
    animation: balancar 2.5s infinite;
}
main > .escolaridades{
    width: 1280px;
    height: 459px;
    border-radius: 20px;
    background-color: #4C4A59;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: -30px;
}
main > .escolaridades > .containerCard{
    margin-top: -38px;
}
@keyframes balancar {
    5% {
        transform: rotate(0deg);
    }
    45% {
        transform: rotate(-10deg);
    }
    4% {
        transform: rotate(0deg);
    }
}
main > .escolaridades > .containerCard > img{
    width: 60px;
    height: 60px;
    margin: 0 0 -38px -20px;
}
main > .escolaridades > .containerCard > .card{
    width: 293px;
    height: 347px;
    border-radius: 10px;
    background-color: #1B7F7A;
    display: flex;
    flex-direction: column;
    align-items: center;
}
main > .escolaridades > .containerCard > .card > .containerIT{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 14px 0 20px 0;
}
main > .escolaridades > .containerCard > .card > .containerIT > .bg{
    width: 50px;
    height: 60px;
    border-radius: 5px 5px 0 0;
    background-color: #F2CDAC;
    display: flex;
    align-items: center;
    justify-content: center;
}
main > .escolaridades > .containerCard > .card > .containerIT > .bg > img{
    width: 40px;
    height: 40px;
}
main > .escolaridades > .containerCard > .card > .containerIT > .bgTitulo{
    width: 96px;
    height: 31px;
    border-radius: 5px;
    background-color: #D9D9D9;
    display: flex;
    align-items: center;
    justify-content: center;
}
main > .escolaridades > .containerCard > .card > .containerIT > .bgTitulo > h2{
    color: #4C4A59;
    text-align: center;
    font-family: Dosis;
    font-size: 21px;
    font-weight: 700;
}
main > .escolaridades > .containerCard > .card > h3{
    color: #FFF;
    text-align: center;
    font-family: Dosis;
    font-size: 20px;
    font-weight: 600;
    width: 261px;
}
#skate-brinquedo{
    margin: 0 0 -80px -110px;
    width: 237px;
    height: 155px;
}
main > .containerExplicacao > .bg{
    width: 930px;
    height: 940px;
    background-color: #4C4A59;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
main > .containerExplicacao > .bg > img{
    width: 794px;
    height: 676px;
}
main > .containerExplicacao > .bg > .bgTexto{
    width: 840px;
    height: 160px;
    border-radius: 15px;
    background-color: #1B7F7A;
    display: flex;
    align-items: center;
    justify-content: center;
}
main > .containerExplicacao > .bg > .bgTexto > h2{
    color: rgba(255, 255, 255, 0.80);
    text-align: center;
    font-family: Dosis;
    font-size: 25px;
    font-weight: 700;
    width: 750px;
}
main > .containerExplicacao > .containerBolaFutebol-brinquedo{
    display: flex;
    justify-content: flex-end;
    margin: -70px -45px 0 0;
}
#bolaFutebol-brinquedo{
    width: 100px;
    height: 140px;
}
@media (min-width: 1200px) and (max-width: 1399px){
    main > .containerMVV > picture > img{
        margin: 0 0 -45px -15px;
        position: relative;
        width: 45px;
        height: 64px;
    }
    main  .containerMVV > .bgMVV{
        width: 1100px;
        height: 457px;
    }
    main > .containerMVV > .bgMVV > .card{
        width: 320px;
        height: 420px;
    }
    main > img{
        width: 80px;
        height: 121px;
    }
    main > .escolaridades{
        width: 1100px;
        height: 400px;
        margin-top: -18px;
    }
    main > .escolaridades > .containerCard > img{
        width: 50px;
        height: 50px;
        margin: 0 0 -40px -20px;
    }
    main > .containerExplicacao > .bg{
        width: 900px;
        height: 840px;
    }
    main > .containerExplicacao > .bg > img{
        width: 700px;
        height: 608px;
    }
}
@media (min-width: 992px) and (max-width: 1199px){
    main > .banner > picture > img{
        width: 562px;
        height: 347px;
    }
    main > .banner > a > .bgTexto{
        width: 300px;
        height: 70px;
        margin: -8px 0 0 20px;
    }
    main > .banner > a > .bgTexto > h2{
        font-size: 26px;
    }
    main > .containerMVV > picture > img{
        width: 45px;
        height: 63px;
        margin: 0 0 -45px -15px;
    }
    main > .containerMVV > img{
        position: relative;
        margin: 0 0 -35px -18px;
    }
    main > .containerMVV{
        margin-top: 65px;
    }
    main  .containerMVV > .bgMVV{
        width: 920px;
        height: 390px;
    }
    main > .containerMVV > .bgMVV > .card{
        width: 280px;
        height: 360px;
    }
    main > .containerMVV > .bgMVV > .card > picture > img{
        width: 35px;
        height: 35px;
    }
    main > .containerMVV > .bgMVV > .card > h2{
        font-size: 26px;
        margin-bottom: 25px;
    }
    main > .containerMVV > .bgMVV > .card > h3{
        font-size: 22px;
        width: 240px;
    }
    main > picture > img{
        width: 80px;
        height: 113px;
    }
    main > .escolaridades{
        width: 970px;
        height: 380px;
        margin-top: -18px;
    }
    #skate-brinquedo{
        margin: 0 0 -50px -90px;
        width: 181px;
        height: 119px;
    }
    main > .escolaridades > .containerCard{
        margin-top: -18px;
    }
    main > .escolaridades > .containerCard > img{
        width: 50px;
        height: 50px;
        margin: 0 0 -40px -20px;
    }
    main > .containerExplicacao > .bg{
        width: 800px;
        height: 760px;
    }
    main > .containerExplicacao > .bg > img{
        width: 617px;
        height: 536px;
    }
    main > .containerExplicacao > .bg > .bgTexto{
        width: 750px;
        height: 120px;
    }
    main > .containerExplicacao > .bg > .bgTexto > h2{
        font-size: 22px;
    }
    #bolaFutebol-brinquedo{
        width: 90px;
        height: 126px;
    }
}
@media (min-width: 768px) and (max-width: 991px){
    main > .banner{
        margin-top: 170px;
    }
    main > .banner > picture > img{
        width: 500px;
        height: 309px;
    }
    main > .banner > a > .bgTexto{
        width: 300px;
        height: 65px;
        margin: -8px 0 0 20px;
    }
    main > .banner > a > .bgTexto > h2{
        font-size: 25px;
    }
    main > .containerMVV > picture > img{
        width: 40px;
        height: 57px;
        margin: 0 0 -45px -20px;
        position: relative;
    }
    main > .containerMVV > img{
        position: relative;
        margin: 0 0 -35px -18px;
    }
    main > .containerMVV{
        margin-top: 20px;
    }
    main  .containerMVV > .bgMVV{
        width: 90vw;
        height:auto;
        flex-wrap: wrap;
        column-gap: 20px;
        row-gap: 20px;
        padding: 20px;
    }
    main > .containerMVV > .bgMVV > .card{
        width: 280px;
        height: 360px;
    }
    main > .containerMVV > .bgMVV > .card > picture > img{
        width: 35px;
        height: 35px;
    }
    main > .containerMVV > .bgMVV > .card > h2{
        font-size: 26px;
        margin-bottom: 25px;
    }
    main > .containerMVV > .bgMVV > .card > h3{
        font-size: 22px;
        width: 240px;
    }
    main > picture > img{
        width: 80px;
        height: 113px;
    }
    main > .escolaridades{
        width: 90vw;
        height: auto;
        margin-top: -18px;
        flex-wrap: wrap;
    }
    #skate-brinquedo{
        margin: 0 0 -50px -90px;
        width: 181px;
        height: 119px;
    }
    main > .escolaridades > .containerCard{
        margin: 20px;
    }
    main > .escolaridades > .containerCard > img{
        width: 50px;
        height: 50px;
        margin: 0 0 -40px -20px;
    }
    main > .containerExplicacao > .bg{
        width: 80vw;
        height: 760px;
    }
    main > .containerExplicacao > .bg > img{
        width: 80%;
        height: 536px;
        object-fit: cover;
    }
    main > .containerExplicacao > .bg > .bgTexto{
        width: 95%;
        height: 120px;
    }
    main > .containerExplicacao > .bg > .bgTexto > h2{
        font-size: 22px;
        width: 95%;
    }
    #bolaFutebol-brinquedo{
        width: 90px;
        height: 126px;
    }
}
@media (min-width: 576px) and (max-width: 767px){
    main > .banner{
        margin-top: 280px;
    }
    main > .banner > picture > img{
        width: 405px;
        height: 250px;
    }
    main > .banner > a > .bgTexto{
        width: 300px;
        height: 65px;
        margin: -8px 0 0 20px;
    }
    main > .banner > a > .bgTexto > h2{
        font-size: 25px;
    }
    main > .containerMVV > picture > img{
        width: 40px;
        height: 57px;
        margin: 0 0 -45px -20px;
    }
    main > .containerMVV > img{
        position: relative;
        margin: 0 0 -35px -18px;
        position: relative;
    }
    main > .containerMVV{
        margin-top: 20px;
    }
    main  .containerMVV > .bgMVV{
        width: 320px;
        height:auto;
        flex-wrap: wrap;
        padding: 20px 0 20px 0;
        gap: 20px;
    }
    main > .containerMVV > .bgMVV > .card{
        width: 280px;
        height: 360px;
    }
    main > .containerMVV > .bgMVV > .card > picture > img{
        width: 35px;
        height: 35px;
    }
    main > .containerMVV > .bgMVV > .card > h2{
        font-size: 26px;
        margin-bottom: 25px;
    }
    main > .containerMVV > .bgMVV > .card > h3{
        font-size: 22px;
        width: 240px;
    }
    main > picture > img{
        width: 80px;
        height: 113px;
    }
    main > .escolaridades{
        width: 320px;
        height: auto;
        margin-top: -18px;
        flex-wrap: wrap;
    }
    #skate-brinquedo{
        margin: 0 0 -50px -90px;
        width: 181px;
        height: 119px;
    }
    main > .escolaridades > .containerCard{
        margin: 20px;
    }
    main > .escolaridades > .containerCard > img{
        width: 50px;
        height: 50px;
        margin: 0 0 -40px -20px;
    }
    main > .containerExplicacao > .bg{
        width: 80vw;
        height: 840px;
    }
    main > .containerExplicacao > .bg > img{
        width: 80%;
        height: 600px;
        object-fit: cover;
    }
    main > .containerExplicacao > .bg > .bgTexto{
        width: 95%;
        height: 180px;
    }
    main > .containerExplicacao > .bg > .bgTexto > h2{
        font-size: 22px;
        width: 95%;
    }
    main > .containerExplicacao > .containerBolaFutebol-brinquedo{
        margin: -60px -55px 0 0;
    }
    #bolaFutebol-brinquedo{
        width: 90px;
        height: 126px;
    }
}
@media (min-width: 320px) and (max-width: 575px){
    main > .banner{
        margin-top: 280px;
    }
    main > .banner > picture > img{
        width: 295px;
        height: 182px;
    }
    main > .banner > a > .bgTexto{
        width: 270px;
        height: 55px;
        margin: -8px 0 0 20px;
    }
    main > .banner > a > .bgTexto > h2{
        font-size: 22px;
    }
    main > .containerMVV > picture > img{
        margin: 0 0 -45px -15px;
        position: relative;
        width: 40px;
        height: 57px;
    }
    main > .containerMVV{
        margin-top: 20px;
    }
    main  .containerMVV > .bgMVV{
        width: 310px;
        height:auto;
        flex-wrap: wrap;
        row-gap: 20px;
        padding: 20px 0 20px 0;
    }
    main > .containerMVV > .bgMVV > .card{
        width: 280px;
        height: 360px;
        margin: 0;
    }
    main > .containerMVV > .bgMVV > .card > picture > img{
        width: 30px;
        height: 30px;
    }
    main > .containerMVV > .bgMVV > .card > h2{
        font-size: 26px;
        margin-bottom: 25px;
    }
    main > .containerMVV > .bgMVV > .card > h3{
        font-size: 22px;
        width: 240px;
    }
    main > picture > img{
        width: 80px;
        height: 113px;
    }
    main > .escolaridades{
        width: 310px;
        height: auto;
        margin-top: -18px;
        flex-wrap: wrap;
    }
    main > .escolaridades > .containerCard{
        margin: 20px;
    }
    main > .escolaridades > .containerCard > .card{
        width: 270px;
    }
    main > .escolaridades > .containerCard > .card > .containerIT > .bgTitulo > h2{
        width: 95%;
    }
    main > .escolaridades > .containerCard > img{
        width: 50px;
        height: 50px;
        margin: 0 0 -40px -20px;
    }
    #skate-brinquedo{
        margin: 0 0 -30px -15px;
        transform: rotate(5deg);
        width: 158px;
        height: 111px;
    }
    main > .containerExplicacao > .bg{
        width: 100vw;
        height: 880px;
    }
    main > .containerExplicacao > .bg > img{
        width: 100%;
        height: 600px;
        object-fit: cover;
    }
    main > .containerExplicacao > .bg > .bgTexto{
        width: 95%;
        height: 240px;
    }
    main > .containerExplicacao > .bg > .bgTexto > h2{
        font-size: 22px;
        width: 95%;
    }
    main > .containerExplicacao > .containerBolaFutebol-brinquedo{
        margin: -50px -5px 0 0;
    }
    #bolaFutebol-brinquedo{
        width: 51px;
        height: 72px;
    }
}
@media (min-width: 280px) and (max-width: 319px){
    main > .banner{
        margin-top: 300px;
    }
    main > .banner > picture > img{
        width: 263px;
        height: 162px;
    }
    main > .banner > a > .bgTexto{
        width: 230px;
        height: 45px;
        margin: -8px 0 0 6px;
    }
    main > .banner > a > .bgTexto > h2{
        font-size: 20px;
    }
    main > .containerMVV > picture > img{
        position: relative;
        margin: 0 0 -35px -6px;
        width: 30px;
        height: 42px;
    }
    main > .containerMVV{
        margin-top: 20px;
    }
    main  .containerMVV > .bgMVV{
        width: 95vw;
        height:auto;
        flex-wrap: wrap;
        row-gap: 20px;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    main > .containerMVV > .bgMVV > .card{
        width: 95%;
        height: 360px;
    }
    main > .containerMVV > .bgMVV > .card > picture > img{
        width: 30px;
        height: 30px;
    }
    main > .containerMVV > .bgMVV > .card > h2{
        font-size: 26px;
        margin-bottom: 25px;
    }
    main > .containerMVV > .bgMVV > .card > h3{
        font-size: 22px;
        width: 95%;
    }
    main > picture > img{
        width: 80px;
        height: 113px;
    }
    main > .escolaridades{
        width: 100vw;
        height: auto;
        margin-top: -18px;
        flex-wrap: wrap;
        border-radius: 0;
    }
    main > .escolaridades > .containerCard{
        margin: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    main > .escolaridades > .containerCard > .card{
        width: 95%;
    }
    main > .escolaridades > .containerCard > .card > h3{
        width: 95%;
    }
    main > .escolaridades > .containerCard > .card > .containerIT > .bgTitulo > h2{
        width: 95%;
    }
    main > .escolaridades > .containerCard > img{
        width: 50px;
        height: 50px;
        margin: 0 0 5px 0;
    }
    #skate-brinquedo{
        margin: 0 0 -30px -15px;
        transform: rotate(5deg);
        width: 158px;
        height: 111px;
    }
    main > .containerExplicacao > .bg{
        width: 100vw;
        height: 880px;
    }
    main > .containerExplicacao > .bg > img{
        width: 100%;
        height: 450px;
        object-fit: cover;
    }
    main > .containerExplicacao > .bg > .bgTexto{
        width: 95%;
        height: 300px;
    }
    main > .containerExplicacao > .bg > .bgTexto > h2{
        font-size: 22px;
        width: 95%;
    }
    main > .containerExplicacao > .containerBolaFutebol-brinquedo{
        margin: -50px -2px 0 0;
    }
    #bolaFutebol-brinquedo{
        width: 51px;
        height: 72px;
    }
}
