@font-face {
    font-family: 'Dosis';
    src: url(./fontes/Dosis/Dosis-VariableFont_wght.ttf) format(truetype);
}
@font-face{
    font-family: 'Inter';
    src: url(./fontes/Inter/Inter-VariableFont_slnt\,wght.ttf) format(truetype);
}
@font-face{
    font-family: 'Montserrat';
    src: url(./fontes/Montserrat/Montserrat-VariableFont_wght.ttf) format(truetype),
         url(./fontes/Montserrat/Montserrat-Italic-VariableFont_wght.ttf) format(truetype)
        
}
*{
    max-width: 100vw;
}
a{
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}
@keyframes balancar {
    5% {
        transform: rotate(0deg);
    }
    45% {
        transform: rotate(-15deg);
    }
    4% {
        transform: rotate(0deg);
    }
}
body{
    background-color: #d9d9d9;
}
header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.containerQuebraCabecaEsquerdo-header{
    flex: 1;
}
#quebraCabecaEsquerdo-header{
    width: 343px;
    height: 633px;
}
.containerNav{
    flex: 1;
    display: flex;
    justify-content: center;
}
body > header > .containerNav > nav{
    width: 480px;
    height: 65px;
    background-color: #4C4A59;
    border-radius: 10px;
    
    margin-top: 24px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-right: 13px;
}
body > header > .containerNav > nav > a > img{
    width: 43px;
    height: 43px;
    margin: 0px 24px 0px 11px;
    transition: 0.3s;
}
body > header > .containerNav > nav > a > img:hover{
    transform: scale(1.1);
}
body > header > .containerNav > nav > a > h2{
    color: rgba(255, 255, 255, 0.664);
    font-family: Dosis;
    font-size: 30px;
    font-weight: 600;
    transition: 0.01s;
}
body > header > .containerNav > nav > a > h2:hover{
    transform: scale(1.03);
    color: rgba(255, 255, 255, 0.997);
}
body > header > .containerNav > nav > hr{
    stroke-width: 1px;
    height: 30px;
    color: #fff;
}
.containerQuebraCabecaDireito-header{
    flex: 1;
    display: flex;
    justify-content: right;
}
#quebraCabecaDireito-header{
    width: 300px;
    height: 390px;
    margin: 24px 24px 0 0;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
}
main > a > .containerBM{
    transition: 0.5s;
}
main > a > .containerBM:hover{
    transform: scale(1.03);
}
main > a > .containerBM > .botaoMaterial{
    width: 454px;
    height: 77px;
    border-radius: 10px;
    background-color: #4C4A59;
    display: flex;
    justify-content: center;
    align-items: center;
}
main > a > .containerBM > .botaoMaterial > h2{
    color: rgba(255, 255, 255, 0.664);
    text-align: center;
    font-family: Montserrat;
    font-size: 30px;
    font-weight: 600;
}
main > a > .containerBM > .botaoMaterial > h2:hover{
    color: rgb(255, 255, 255);
}
@keyframes icone{
    2% {
        transform: rotate(0deg);
    }
    80% {
        transform: rotate(-20deg);
    }
    18% {
        transform: rotate(0deg);
    }
}
.bgIcone{
    width: 30px;
    height: 30px;
    border-radius: 10px;
    background-color: #4C4A59;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: -18px 0 0 -10px;
}
.bgIcone:hover{
    animation: icone 2s infinite;
}
.bgIcone > img{
    width: 22px;
    height: 22px;
}

footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 35px;
}
footer > img{
    width: 50px;
    height: 71px;
}
@keyframes foguete {
    5% {
        transform: rotate(0deg);
    }
    35% {
        transform: rotate(10deg);
    }
    60% {
        transform: rotate(-15deg);
    }
}
footer > img:hover{
    animation: foguete 2.5s;
}
footer > img:active{
    animation: foguete 2.5s infinite;
}
footer > .containerBgFooter{
    width: 1334px;
    height: 740px;
    border-radius: 20px;
    background-color: #4C4A59;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
}
footer > .containerBgFooter > .logosCima{
    display: flex;
    margin-top: 62px;
    column-gap: 40px;
}
footer > .containerBgFooter > .logosCima > img{
    width: 100px;
    height: 100px;
}
footer > .containerBgFooter > h3{
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    margin-top: 42px;
}
footer > .containerBgFooter > hr{
    width: 373px;
    color: #d9d9d9;
    margin-top: 100px;
}
footer > .containerBgFooter > .bgParceiros{
    width: 185px;
    height: 59px;
    border-radius: 15px;
    background-color: #d9d9d9;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 55px;
}
footer > .containerBgFooter > .bgParceiros > h2{
    color: #4C4A59;
    text-align: center;
    font-family: Montserrat;
    font-size: 28px;
    font-weight: 400;
}
footer > .containerBgFooter > .logoBaixo{
    margin-top: 40px;
}
footer > .containerBgFooter > .logoBaixo > a > #logoBallet{
    width: 200px;
    height: 200px;
}
footer > .containerBgFooter > .logoBaixo > a > #logoSucesso{
    width: 250px;
    height: 190.833px;
    margin: 0 248px 0 218px;
}
footer > .containerBgFooter > .logoBaixo > a > #logoTaekwondo{
    width: 150px;
    height: 182px;
}

@media (min-width: 1200px) and (max-width: 1399px) {
    #quebraCabecaEsquerdo-header{
        width: 343px;
        height: 633px;
    }
    header > .containerNav > nav > a > h2{
        font-size: 24px;
    }
    main > a > .containerBM > .botaoMaterial{
        width: 394px;
        height: 67px;
    }
    main > a > .containerBM > .botaoMaterial > h2{
        font-size: 26px;
    }
    footer > .containerBgFooter{
        width: 900px;
        height: 740px;
    }
    footer > .containerBgFooter > .logoBaixo > a > #logoSucesso{
        margin: 0 60px 0 50px;
    }
}
@media (min-width: 992px) and (max-width: 1199px){
    body > header > .containerNav > nav{
        width: 408px;
    }
    #quebraCabecaEsquerdo-header{
        width: 283px;
        height: 523px;
    }
    body > header > .containerNav > nav > a > h2{
        font-size: 26px;
    }
    body > header > .containerNav > nav > a > img{
        margin: 0 14px 0 8px;
    }
    #quebraCabecaDireito-header{
        width: 248px;
        height: 330px;
        margin-right: 12px;
    }
    footer > .containerBgFooter{
        width: 850px;
    }
    footer > .containerBgFooter > .logoBaixo > a > #logoSucesso{
        margin: 0 68px 0 30px;
    }
}
@media (min-width: 768px) and (max-width: 991px){
    #quebraCabecaEsquerdo-header{
        width: 203px;
        height: 375px;
    }
    body > header > .containerNav{
        position: absolute;
        left: 50%;
        transform: translate(-50%, 0%);
    }
    body > header > .containerNav > nav{
        width: 400px;
        height: 65px;
    }
    body > header > .containerNav > nav > a > h2{
        font-size: 26px;
    }
    body > header > .containerNav > nav > a > img{
        width: 38px;
        height: 38px;
        margin: 0 12px 0 6px;
    }
    #quebraCabecaDireito-header{
        width: 150px;
        height: 204px;
        margin: 24px 8px 0 0;
    }
    main > a > .containerBM > .botaoMaterial{
        width: 340px;
        height: 52px;
    }
    main > a > .containerBM > .botaoMaterial > h2{
        font-size: 22px;
    }
    footer > .containerBgFooter{
        width: 650px;
        height: 1200px;
    }
    footer > .containerBgFooter > .logoBaixo{
        display: flex;
        flex-direction: column;
        row-gap: 30px;
        align-items: center;
    }
    footer > .containerBgFooter > .logoBaixo > a > #logoSucesso{
        margin: 0;
    }
}
@media (min-width: 576px) and (max-width: 767px){
    #quebraCabecaEsquerdo-header{
        width: 135px;
        height: 250px;
    }
    body > header > .containerNav{
        position: absolute;
        left: 50%;
        transform: translate(-50%, 0%);
    }
    body > header > .containerNav > nav{
        width: 360px;
    }
    body > header > .containerNav > nav > a > h2{
        font-size: 24px;
    }
    body > header > .containerNav > nav > a > img{
        width: 36px;
        height: 36px;
        margin: 0 10px 0 6px;
    }
    #quebraCabecaDireito-header{
        width: 150px;
        height: 204px;
        margin: 24px 8px 0 0;
    }
    main > a > .containerBM > .botaoMaterial{
        width: 300px;
        height: 52px;
    }
    main > a > .containerBM > .botaoMaterial > h2{
        font-size: 20px;
    }
    main > a > .containerBM > .bgIcone{
        width: 24px;
        height: 24px;
        border-radius: 8px;
    }
    main > a > .containerBM > .bgIcone > img{
        width: 18px;
        height: 18px;
    }
    footer > .containerBgFooter{
        width: 100vw;
        height: 1200px;
        border-radius: 0 ;
    }
    footer > .containerBgFooter > h3{
        min-width: 80vw;
        font-size: 15px;
    }
    footer > .containerBgFooter > .bgParceiros{
        width: 140px;
        height: 50px;
    }
    footer > .containerBgFooter > .bgParceiros > h2{
        font-size: 22px;
    }
    footer > .containerBgFooter > .logoBaixo{
        display: flex;
        flex-direction: column;
        row-gap: 30px;
        align-items: center;
    }
    footer > .containerBgFooter > .logoBaixo > a > #logoSucesso{
        margin: 0;
    }
}
@media (min-width: 400px) and (max-width: 575px){
    #quebraCabecaEsquerdo-header{
        width: 135px;
        height: 250px;
    }
    body > header > .containerNav{
        position: absolute;
        left: 50%;
        transform: translate(-50%, 0%);
    }
    body > header > .containerNav > nav{
        width: 300px;
        height: 55px;
    }
    body > header > .containerNav > nav > a > img{
        width: 34px;
        height: 34px;
        margin: 0 8px 0 6px;
    }
    body > header > .containerNav > nav > a > h2{
        font-size: 20px;
        text-align: center;
    }
    #quebraCabecaDireito-header{
            display: none;
    }
    main > a > .containerBM > .botaoMaterial{
        width: 300px;
        height: 52px;
    }
    main > a > .containerBM > .botaoMaterial > h2{
        font-size: 20px;
    }
    main > a > .containerBM > .bgIcone{
        width: 24px;
        height: 24px;
        border-radius: 8px;
    }
    main > a > .containerBM > .bgIcone > img{
        width: 18px;
        height: 18px;
    }
    footer > img{
        width: 40px;
        height: 56px;
    }
    footer > .containerBgFooter{
        width: 100vw;
        height: 1200px;
        border-radius: 0;
    }
    footer > .containerBgFooter > h3{
        min-width: 90%;
        font-size: 15px;
    }
    footer > .containerBgFooter > hr{
        width: 80vw;
    }
    footer > .containerBgFooter > .bgParceiros{
        width: 140px;
        height: 50px;
    }
    footer > .containerBgFooter > .bgParceiros > h2{
        font-size: 22px;
    }
    footer > .containerBgFooter > .logoBaixo{
        display: flex;
        flex-direction: column;
        row-gap: 30px;
        align-items: center;
    }
    footer > .containerBgFooter > .logoBaixo > a > #logoSucesso{
        margin: 0;
    }
}
@media (min-width: 320px) and (max-width: 399px){
    #quebraCabecaEsquerdo-header{
        width: 135px;
        height: 250px;
    }
    body > header > .containerNav{
        position: absolute;
        left: 50%;
        transform: translate(-50%, 0%);
    }
    body > header > .containerNav > nav{
        width: 300px;
        height: 40px;
        border-radius: 8px;
        justify-content: space-around;
        padding-right: 4px;
        padding-left: 4px;
    }
    body > header > .containerNav > nav > a > img{
        width: 30px;
        height: 30px;
        margin: 0 8px 0 4px;
    }
    body > header > .containerNav > nav > a > h2{
        font-size: 20px;
        text-align: center;
    }
    #quebraCabecaDireito-header{
        display: none;
    }
    main > a > .containerBM > .botaoMaterial{
        width: 300px;
        height: 52px;
    }
    main > a > .containerBM > .botaoMaterial > h2{
        font-size: 20px;
    }
    main > a > .containerBM > .bgIcone{
        width: 24px;
        height: 24px;
        border-radius: 8px;
    }
    main > a > .containerBM > .bgIcone > img{
        width: 18px;
        height: 18px;
    }
    footer > img{
        width: 40px;
        height: 56px;
    }
    footer > .containerBgFooter{
        width: 100vw;
        height: 1200px;
        border-radius: 0 ;
    }
    footer > .containerBgFooter > h3{
        min-width: 80vw;
        font-size: 15px;
    }
    footer > .containerBgFooter > hr{
        width: 80vw;
    }
    footer > .containerBgFooter > .bgParceiros{
        width: 140px;
        height: 50px;
    }
    footer > .containerBgFooter > .bgParceiros > h2{
        font-size: 22px;
    }
    footer > .containerBgFooter > .logoBaixo{
        display: flex;
        flex-direction: column;
        row-gap: 30px;
        align-items: center;
    }
    footer > .containerBgFooter > .logoBaixo > a > #logoSucesso{
        margin: 0;
    }
}
@media (min-width: 279px) and (max-width: 319px){
    #quebraCabecaEsquerdo-header{
        width: 135px;
        height: 250px;
    }
    body > header > .containerNav{
        position: absolute;
        left: 50%;
        transform: translate(-50%, 0%);
    }
    body > header > .containerNav > nav{
        width: 92vw;
        height: 45px;
        padding: 0 5px 0 0;
    }
    body > header > .containerNav > nav > a > img{
        width: 30px;
        height: 30px;
        margin: 0 8px 0 6px;
    }
    body > header > .containerNav > nav > a > h2{
        font-size: 18px;
        text-align: center;
    }
    #quebraCabecaDireito-header{
        display: none;
    }
    main > a > .containerBM > .botaoMaterial{
        width: 220px;
        height: 52px;
    }
    main > a > .containerBM > .botaoMaterial > h2{
        font-size: 20px;
    }
    main > a > .containerBM > .bgIcone{
        width: 24px;
        height: 24px;
        border-radius: 8px;
    }
    main > a > .containerBM > .bgIcone > img{
        width: 18px;
        height: 18px;
    }
    footer > img{
        width: 40px;
        height: 56px;
    }
    footer > .containerBgFooter{
        width: 280px;
        height: 1200px;
        border-radius: 0;
        padding: 0;
    }
    footer > .containerBgFooter > h3{
        width: 90%;
        font-size: 15px;
    }
    footer > .containerBgFooter > hr{
        width: 80%;
        margin: 100px 0 0 0;
    }
    footer > .containerBgFooter > .bgParceiros{
        width: 140px;
        height: 50px;
    }
    footer > .containerBgFooter > .bgParceiros > h2{
        font-size: 22px;
    }
    footer > .containerBgFooter > .logoBaixo{
        display: flex;
        flex-direction: column;
        row-gap: 30px;
        align-items: center;
    }
    footer > .containerBgFooter > .logoBaixo > a > #logoSucesso{
        margin: 0;
    }
}